$text_light: #FFFFFF;
$text_primary: #1B1F23;
$background_dark: #333333;
$background_medium: #F5F5F5;
$background_light: #FFFFFF;
$button_active: #FF5500;
$button_hover: #E94E00;
$button_disabled: #FFA375;
